.Item__default {
  background-color: aquamarine;
  border-radius: 10%;
  border: black 2px solid;
  width: auto;
  padding: 0.5rem;
  font-size: x-small;
  text-align: center;
}

.Hide {
  display: none;
}
